

/**tdas as demais midias*/

/*typical device breakpoint
--------------------------------


pequenas telas:ate 600px
celular:de 600px ate 768px
tablet:de 768px ate 992px
desktop: de 992px ate 1200px

grandes telas: acima de 1200px
*/


@media print{
    body{
        background-image: none;
        font-family: 'Courier New', Courier, monospace;
         
    }

    main{
        border: 2px solid black;
    }

    main h1{
        width: 100%;
        text-shadow: none; 
        color: black;  
    }

    img#print{display: block;}
    img#phone{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: block;}
}

@media screen and (min-width:992px) and (max-width:1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#tablet{display: none;}
    img#pc{display: block;}
}

@media screen and (min-width:1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }

    img#pc{display: none;}
    img#tv{display: block;}
}