/*Estilo para impressora*/

*{
    margin: 10px;
    padding: 10px;

}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
header>menu{
    display: none;
}

article{
    width: 100%
}

article::after{
    content: "esse artigo foi criado por jv hehArtigo";
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
